.navbar {
  // border: 2px solid red;
  min-height: 90px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  & .center {
    width: var(--width-standard);
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
      height: 60px;
      width: 200px;
      // background: white;
      padding: 5px 10px;
      box-sizing: content-box;
    }

    & .links {
      display: flex;
      gap: 30px;

      & .item {
        cursor: pointer;
        text-decoration: none;
        text-transform: capitalize;
        transition: var(--transition);
        font-size: 1rem;
        font-weight: 600;
        line-height: 90px;
        color: white;

        &:hover {
          color: var(--primary-blue-200);
          transition: var(--transition);
        }
      }
    }

    & span {
      & svg {
        height: 2rem;
        width: 2rem;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.navbar-scrolled {
  // background: var(--primary-blue-200);
  // background: rgb(42, 111, 201);
  background: white;
  box-shadow: 1px 1px 14px 1px rgb(228, 224, 224);

  & .center {
    & .links {
      & .item {
        color: var(--primary-blue);
      }
    }

    & span {
      & svg {
        color: var(--primary-blue);
      }
    }
  }
}
