.resources {
  & .section-one {
    // border: 2px solid red;
    background: white;
    padding: 100px 0;

    & .content-head-center {
      margin: 0 auto;
      width: var(--width-standard);
      // border: 2px solid red;
      min-height: 400px;
      display: flex;
      flex-direction: row;
      gap: 40px;

      & .left {
        // border: 2px solid red;
        width: 450px;

        & .all {
          // border: 2px solid blue;
          display: flex;
          flex-direction: column;
          gap: 50px;
          justify-content: center;
          align-items: center;
          padding: 50px;
          background: var(--primary-blue);
          color: white;
          border-radius: 10px;

          & span {
            border: 1px solid white;
            border-radius: 50%;
            height: 140px;
            width: 140px;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          & .text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            & h2 {
              font-size: 30px;
            }

            & p {
              font-size: 25px;
              text-transform: capitalize;
            }
          }
          & button {
            padding: 0 30px;
            font-size: 20px;
            text-transform: uppercase;
            background: white;
            color: var(--primary-blue);
            border-radius: 30px;
            height: 60px;
            cursor: pointer;
            border: none;
          }
        }
      }

      & .right {
        // border: 2px solid red;

        & .items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 40px;
          grid-auto-rows: auto;
          row-gap: 50px;

          & .item {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: space-between;
            padding: 13px 20px 60px;
            box-shadow: 1px 1px 12px 1px rgb(240, 238, 238);
            border-radius: 15px;
            transition: var(--transition);
            text-decoration: none;
            // background: var(--primary-blue);
            background: white;
            color: var(--primary-blue);
            position: relative;

            & span {
              font-size: 45px;
              background: var(--primary-blue);
              z-index: 3;
              color: white;
              transform: translateY(-40px);
              width: 100px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 5px;
              box-shadow: 1px 1px 15px 1px rgb(159, 158, 158);
            }

            & .text {
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-end;
              width: 220px;
              & h2 {
                text-transform: capitalize;
                z-index: 3;
                // border: 2px solid red;
                text-align: right;
                // height: 60px;
              }

              & p {
                z-index: 3;
              }
            }

            &:before {
              content: "";
              border-radius: 15px;
              position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              right: 0;
              transform: scaleX(0);
              transform-origin: right;
              // background-color: var(--primary-blue);
              background-color: white;
              transition: transform 0.5s ease 0s;
            }

            &:hover {
              cursor: pointer;
              // box-shadow: none;
              transition: var(--transition);
              // border: 2px solid red;
              // color: var(--primary-blue);

              & span {
                // color: var(--primary-blue);
              }
              &:before {
                top: 0;
                // transform: scaleX(1);
                transform-origin: left;
              }
            }
          }
        }
      }
    }
  }
}

.resource-details {
  & .section-two {
    background: rgb(238, 240, 242);
    // border: 2px solid red;
    padding: 100px 0;

    & .content-center {
      min-height: 400px;
      // border: 2px solid blue;
      max-width: var(--width-standard);
      margin: 0 auto;
      border-radius: 20px;

      & .content {
        // border: 2px solid green;
        box-shadow: 1px 2px 15px 2px rgb(219, 217, 217);

        background: white;
        display: flex;
        border-radius: 20px;

        & .right {
          min-width: 280px;
          background: white;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          // border: 2px solid red;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 30px;

          & .item {
            display: flex;
            gap: 20px;
            color: rgb(162, 162, 162);
            padding: 20px;
            cursor: pointer;
            text-decoration: none;

            & span {
              font-size: 20px;
            }
            & h2 {
              font-size: 16px;
              text-transform: capitalize;
            }
          }

          & .active {
            background: var(--primary-blue);
            color: white;
            border-radius: 15px;
          }
        }

        & .left {
          // border: 2px solid brown;
          width: 100%;
          padding: 20px 40px;
          background: rgb(242, 243, 247);
          border-top-left-radius: 40px;
          display: flex;
          flex-direction: column;
          gap: 40px;

          & .top {
            // border: 2px solid red;
            padding: 20px 0;
            font-size: 16px;
            display: flex;
            gap: 20px;
            align-items: center;
            height: 70px;

            & p {
              color: black;
              text-transform: capitalize;
            }

            & span {
              padding: 6px 8px;
              // background: rgb(225, 238, 240);
              background: var(--primary-blue);
              border-radius: 3px;
              color: white;
              // border: 1px solid var(--primary-blue);
            }
          }

          & .bottom {
            // border: 2px solid red;
            // height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            & .item {
              padding: 70px 20px 50px;
              background: white;
              border-radius: 25px;
              display: flex;
              flex-direction: column;
              gap: 30px;
              position: relative;
              cursor: pointer;

              & span {
                position: absolute;
                top: -18px;
                left: 40px;
                font-size: 42px;
                background: var(--primary-blue);
                color: white;

                box-shadow: 1px 2px 10px 2px rgb(198, 194, 194);
                border-radius: 50%;
                width: 65px;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              & h2 {
                font-size: 17px;
                text-transform: capitalize;
              }

              & p {
                display: flex;
                align-items: center;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
}
